# Ignora i file di sistema Mac
.DS_store

# Ignora il file home.php
/home.php

# ignora header utenti non loggati
/template-parts/header/header-anon.php

# ignora i template custom
/template-parts/home/includecustom2.php
/template-parts/home/includecustom3.php
